
{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/major.css'%}">
        
        <title>major</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">s -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       
        <div class="d">
            <div class="pie1">
                <img src="{% static 'images/photo.jpg'%}" class="pie1" > </img>
            </div>
            <div class="h1">
                <h1>AURORA'S POST GRADUATION COLLEGE</h1>  

        </div>
        <div>
           
            
        </div>
       
        </div>
        <div class="d5">
            <div>
                <a href="..">Home</a>
                <a href="about">About</a>
                <a href="course">Course</a>
                <a href="images">Gallary</a>
                <a href="faculty">Faculty</a>
                <a href="icet">I-cet registration</a>
                <a href="stulogin">Log in</a>
                <a href="contact">Contact</a>
                <a href="../college/">college</a>
                <a href="../venkat/">admin</a>
            </div>
        </div>
        <div class="ad1">
            <h1>Welcome to aurora's pg college ramanthapur</h1> <hr class="hr1">
        </div>
        <div>
            <h3 class="adh1">  AURORA Ramanthapur, Hyderabad had an interesting journey.
                Since we started operations in 1995, there has been no looking back after the first batch joined
                 and batch after batch reposed confidence in us. New batches start at regular
                  intervals and the details are posted on the website from time to time.
                   MCA course was started in 2003. We are doing things uniquely. 
                   We go beyond the regular academics with an emphasis on practice.

            </h3>
        </div>
        <div class="ad2">
            <img src="{% static 'images/pri.jpg'%}"> </img>
            <h2 class="adh2"> prof.Ms.Madhavi</h2>
            <h2 class="adh2">Prinicipal of aurora's pg college</h2>
            <h2 class="adh2">Ramanthapur</h2>   
        </div>
        <div class="ad2">
            <img src="{% static 'images/raina.jpg'%}"> </img>
            <h2 class="adh2">Prof. Mr.GVK Reddy</h2>
            <h2 class="adh2"> vioce-Prinicipal of aurora's pg college</h2>
            <h2 class="adh2">Ramanthapur</h2> 
        </div>
        <div class="ad3">
            <div class="ad4">
            <img src="{% static 'images/sathish.jpeg'%}"> </img>
            <h2 class="adh2">Prof. Mr.Sathish Kumar</h2>
            <h2 class="adh2"> Head Of Department of MBA</h2>
            <h2 class="adh2">Ramanthapur</h2> 
            </div>
            <div class="ad4">
                <img src="{% static 'images/hod1.jpg'%}">
                <h2 class="adh2">Prof. Mr.Devendar Rao</h2>
                <h2 class="adh2"> Head Of Department of MCA</h2>
                <h2 class="adh2">Ramanthapur</h2>
            </div>
            </div>
        </body>
        </html>