{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/major.css'%}">
        
        <title>major</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">s -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       
        <div class="d">
            <div class="pie1">
                <img src="{% static 'images/photo.jpg'%}" class="pie1" > </img>
            </div>
            <div class="h1">
                <h1>AURORA'S POST GRADUATION COLLEGE</h1>  

        </div>
        <div>
           
            
        </div>
       
        </div>
        <div class="d5">
            <div>
                <a href="..">Home</a>
                <a href="about">About</a>
                <a href="course">Course</a>
                <a href="images">Gallary</a>
                <a href="faculty">Faculty</a>
                <a href="icet">I-cet registration</a>
                <a href="stulogin">Log in</a>
                <a href="contact">Contact</a>
                <a href="../college/">college</a>
                <a href="../venkat/">admin</a>
            </div>
        </div>
        <div class="m1"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.395617282507!2d78.5272458148764!3d17.39279178807537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb990504a28b7d%3A0x2bfa2aa2c717879f!2sAurora&#39;s%20PG%20College!5e0!3m2!1sen!2sin!4v1587642857814!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;
            " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <div class="m1">
            <h1>Address</h1><hr>
            <h1>12-128,1-10</h1>
            <h1>Ganesh nagar</h1>
            <h1>Ramanthapur</h1>
            <h1>Hyderabad</h1>
            <h1>contact:041-123564</h1>
        </div>
        <div class="m2">
            <div class="m3">
            <label>name:</label>
            <input type="text" >
        </div>
        <div class="m3">
            <label>message:</label>
            <textarea></textarea>
        </div>
        <div class="m3">
            <label>contact:</label>
           <input type="number">
        </div>
        </div>
       
         
    </body>
</html>