
<html>
    <body>
        <table align="center" border="2">
            <tr>
                <th>Faculty information</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Father Name</th>
                <th>city</th>
                <th>cno</th>
                <th>dob</th>
                <th>date of join</th>
                <th>Experience</th>
                <th>Qulifiaction</th>
            </tr>
            <tr>
                <td>{{message.name}}</td>
                <td>{{message.father}}</td>
                <td>{{message.city}}</td>
                <td>{{message.cno}}</td>
                <td>{{message.doo}}</td>
                <td>{{message.djj}}</td>
                <td>{{message.exp}}</td>
                <td>{{message.qul}}</td>

            </tr>
            
            
        </table>
        <tr >
            <a href="logout">Logout</a>
        </tr>
    </body>
</html>