
{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/major.css'%}">
        
        <title>major</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">s -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       
        <div class="d">
            <div class="pie1">
                <img src="{% static 'images/photo.jpg'%}" class="pie1" > </img>
            </div>
            <div class="h1">
                <h1>AURORA'S POST GRADUATION COLLEGE</h1>  

        </div>
        <div>
           
            
        </div>
       
        </div>
        <div class="d5">
            <div>
                <a href="..">Home</a>
                <a href="about">About</a>
                <a href="course">Course</a>
                <a href="images">Gallary</a>
                <a href="faculty">Faculty</a>
                <a href="icet">I-cet registration</a>
                <a href="stulogin">Log in</a>
                <a href="contact">Contact</a>
                <a href="../college/">college</a>
                <a href="../venkat/">admin</a>
            </div>
        </div>
        <div class="g1">
            <div class="g2">
                <div class="g3">
                    <img src="{% static 'images/a1.jpg'%}"> </img>
                    <p class="g4">MBA student</p>
                </div>
                <div class="g3">
                 <img src="{% static 'images/a2.jpg'%}"> </img>
                 <p class="g4">MBA student meeting</p>
             </div>
             <div class="g3">
                 <img src="{% static 'images/a3.jpg'%}"> </img>
                 <p class="g4">MBC student lab</p>
             </div>
             <div class="g3">
                 <img src="{% static 'images/a4.jpg'%}"> </img>
                 <p class="g4">MBA student libary</p>
             </div>
             </div>
             <div class="g5">
                 <div class="g6">
                     <img src="{% static 'images/a5.jpg'%}"> </img>
                     <p class="g4">MCA student</p>
                 </div>
                 <div class="g6">
                  <img src="{% static 'images/a6.jpg'%}"> </img>
                  <p class="g4">MCA student meeting</p>
              </div>
              <div class="g6">
                  <img src="{% static 'images/a7.jpg'%}"> </img>
                  <p class="g4">MCA student lab</p>
              </div>
              <div class="g6">
                  <img src="{% static 'images/a8.jpg'%}"> </img>
                  <p class="g4">MCA student libary</p>
              </div>
              </div>
             <div class="g8">
                 <div class="g7">
                     <img src="{% static 'images/anveshna.jpg'%}"></img>
                     <p class="g4">anveshna event in aurora</p>
                 </div>
                 <div class="g7">
                     <img src="{% static 'images/aby.jpg'%}"></img>
                     <p class="g4">anveshna event in aurora</p>
                 </div>
                 <div class="g7">
                     <img src="{% static 'images/bathukamm.jpg'%}"></img>
                     <p class="g4">bathukamma event in aurora</p>
                 </div>
                 <div class="g7">
                     <img src="{% static 'images/traditional.jpg'%}"></img>
                     <p class="g4">traditional event in aurora</p>
                 </div>
            </div>
           <div class="g9">
               <div class="g10">
                 <img src="{% static 'images/mc1.jpeg'%}"></img>
                 <p class="g4">traditional day in mca</p>
               </div>
               <div class="g10">
                 <img src="{% static 'images/mc2.jpeg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
               <div class="g10">
                 <img src="{% static 'images/mc5.jpg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
               <div class="g10">
                 <img src="{% static 'images/mc6.jpg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
           </div>
           <div class="g11">
               <div class="g12">
                 <img src="{% static 'images/mc3.jpg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
               <div class="g12">
                 <img src="{% static 'images/mc4.jpg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
               <div class="g12">
                 <img src="{% static 'images/m7.jpg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
               <div class="g12">
                 <img src="{% static 'images/mc8.jpg'%}"></img>
                 <p class="g4">traditional day in mca friends</p>
               </div>
           </div>
 
        </div>
             
     </body>
 </html>