{% load static%}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'CSS/major.css'%}">
        
        <title>major</title>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">s -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       
        <div class="d">
            <div class="pie1">
                <img src="{% static 'images/photo.jpg'%}" class="pie1" > </img>
            </div>
            <div class="h1">
                <h1>AURORA'S POST GRADUATION COLLEGE</h1>  

        </div>
        <div>
           
            
        </div>
       
        </div>
        <div class="d5">
            <div>
                <a href="..">Home</a>
                <a href="about">About</a>
                <a href="course">Course</a>
                <a href="images">Gallary</a>
                <a href="faculty">Faculty</a>
                <a href="icet">I-cet registration</a>
                <a href="stulogin">Log in</a>
                <a href="contact">Contact</a>
                <a href="../college/">college</a>
                <a href="../venkat/">admin</a>
                
            </div>
        </div>
        <h1 class="fh4">Faculty of MCA</h1>
        <div class="f1">
            <div class="f2">
                <h2 class="fh1"> prof.Mr.devendar rao</h2>
                <h2 class="fh2">head of department MCA, faculty of mca department</h2>
                <h2>Academic Exprience-12 year</h2>
                <h2>Academic Qualification-MCA.,M.Sc</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Mr.Srinivas rao</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-08 year</h2>
                <h2>Academic Qualification-MCA.,M.Sc</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Mr MD.ismail</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-10 year</h2>
                <h2>Academic Qualification-MCA.,M.Sc</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Mr..Vijay Kumar</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-6 year</h2>
                <h2>Academic Qualification-MCA.</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Ms.Saritha</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-10 year</h2>
                <h2>Academic Qualification-MCA.</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Ms.Subhashine</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-12 year</h2>
                <h2>Academic Qualification-MCA.</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Ms.Dhanalaxmi</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-07 year</h2>
                <h2>Academic Qualification-MCA.</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Ms.Vikranthi</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-06 year</h2>
                <h2>Academic Qualification-MCA.</h2>
            </div>
            <div class="f2">
                <h2 class="fh1"> prof.Ms.Pavani</h2>
                <h2 class="fh2"> faculty of MCA department</h2>
                <h2>Academic Exprience-06 year</h2>
                <h2>Academic Qualification-MCA.</h2>
            </div>
        
        </div>
    </body>
</html>